<div data-item="ads" class="swiper mySwiper4">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="/images/ads/rocket.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/Coffee_.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/difference.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/lead.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/chats.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/busy.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/angCat.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/ostrich.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/sad.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/tech.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/freeLead.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/batman.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/empathy.webp" />

    </div>
    <div class="swiper-slide">
      <img src="/images/ads/openchair.webp" />

    </div>
    
    <div class="swiper-slide">
      <img src="/images/ads/know the cost.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/Men in suit.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/plant.webp" />
    </div>
    
    
    <div class="swiper-slide">
      <img src="/images/ads/myntra.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/ads/39.webp" />
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
