<div data-item="print" class="swiper mySwiper5">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="/images/print/home.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/AI.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/insure.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/mplace.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/ban1.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/ban2.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/ds.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/bear.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/leader.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/faith.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/imm.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/man.webp"loading="lazy" />
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/nft.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/panda.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
    <div class="swiper-slide">
      <img src="/images/print/ss.webp" loading="lazy"/>
      <div class="swiper-lazy-preloader"></div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
