<div data-item="prototype" class="swiper mySwiper6">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper center">
      <!-- Slides -->
      <div class="swiper-slide">
        <a href="https://xd.adobe.com/view/233e366b-4f82-4fad-b33f-aa018bfe049a-766d/" target="_blank"><img src="/images/prototype/dentist.webp" ></a>
      </div>
      <div class="swiper-slide">
        <a href="https://xd.adobe.com/view/17801456-f951-49c7-bfab-aeedc7a310cc-42d3/" target="_blank"><img src="/images/prototype/e-commerce.webp" ></a>
        
      </div>
      <div class="swiper-slide">
        <a href="https://xd.adobe.com/view/2911703b-95d1-4f1a-b548-011fa17c3ff2-7c42/" target="_blank"><img src="/images/prototype/movie.webp" ></a>
      </div>
      
    
    </div>

</div>
 