<div data-item="social" class="swiper mySwiper7">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->

    <div class="swiper-slide">
      <img src="/images/social/band.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/social/christmas.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/social/future.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/social/lgw.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/social/cap.webp" />
    </div>
    <div class="swiper-slide">
        <img src="/images/social/book.webp" />
      </div>
      <div class="swiper-slide">
        <img src="/images/social/cr1.webp" />
      </div>

      <div class="swiper-slide">
        <img src="/images/social/cr2.webp" />
      </div> <div class="swiper-slide">
        <img src="/images/social/cr3.webp" />
      </div> <div class="swiper-slide">
        <img src="/images/social/cr4.webp" />
      </div> 
    <div class="swiper-slide">
      <img src="/images/social/bubble.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/social/ca.png" />
    </div>
    <div class="swiper-slide">
      <img src="/images/social/beat.webp" />
    </div>
    <div class="swiper-slide">
      <img src="/images/social/vz.webp" />
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
