
<div data-item="web" class="swiper mySwiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="/images/web/band.webp" >
      </div>
      
      <div class="swiper-slide">
        <img src="/images/web/e-commerce.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/Dentist.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/Education.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/ShuttleCloud.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/University.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/Finance.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/Meera.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/TAH.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/zsoft.webp" >
      </div>
      <div class="swiper-slide">
        <img src="/images/web/GL.webp" >
      </div>
     
    </div>
    <!-- If we need pagination -->

    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  
    
  </div>
 
 

