<div class="hero-area wrapper case ">
    <div class="left-content">
        <div class="left-content-heading-with-text">

            <div class="h-flex eyebrow">
                <p>
                    <span id="stretch">CASE STUDY</span>
                </p>
                <div class="line"></div>
            </div>
            <h1>How I helped Meera to grow by <span id="highlight_two">250% </span>in a year</h1>
        </div>
        <p>Download the case study to learn how I did it</p>
        <a class="primary-btn green" href="images/Meera_Case_Study.pdf" download="">Download the case study</a>

    </div>
    <div class="right-content with-bg ">


        <img id="c-image" src="images/graph.svg" alt="Pash contact image from the side" />
    </div>

</div>